
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-half-alt:before { content: '\e801'; } /* '' */
.icon-thumbs-up:before { content: '\e802'; } /* '' */
.icon-thumbs-down:before { content: '\e803'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e804'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e805'; } /* '' */